<div th:fragment="index" xmlns:th="http://www.w3.org/1999/xhtml">
    <table class="table" id="result">
        <thead class="thead-dark">
        <tr>
            <th scope="col" th:text="#{name}"></th>
            <th scope="col" th:text="#{surname}"></th>
            <th scope="col" th:text="#{type}"></th>
            <th scope="col" th:text="#{isActive}"></th>
            <th scope="col" th:text="#{remove}"></th>
            <th scope="col" th:text="#{edit}"></th>
            <th scope="col" th:text="#{activateOrDeactivate}"></th>
            <th scope="col" th:text="#{info}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="2" th:text="#{empty}"></td>
        </tr>
        <tr th:each="user : ${users}">
            <td>
                <span th:text="${user.userName}"></span>
            </td>
            <td>
                <span th:text="${user.userSurname}"></span>
            </td>
            <td>
                <span th:text="${user.userType}"></span>
            </td>
            <td>
                <span th:text="${user.isActive}"></span>
            </td>
            <td>
                <form th:action="@{/users/{id}/delete(id=${user.userId})}" method="post">
                    <input class="btn btn-danger" type="submit" th:value="#{remove}" />
                </form>
            </td>
            <td>
                <form th:action="@{/users/{id}/edit(id=${user.userId})}" method="get">
                    <input class="btn btn-secondary" type="submit" th:value="#{edit}" />
                </form>
            </td>
            <td>
                <form th:action="@{/users/{id}/activate-or-deactivate(id=${user.userId})}" method="get">
                    <input class="btn btn-primary" type="submit" th:value="#{activateOrDeactivate}" />
                </form>
            </td>
            <td>
                <form th:action="@{/users/{id}/info(id=${user.userId})}" method="get">
                    <input class="btn btn-primary" type="submit" th:value="#{info}" />
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/users/new}">
        <input class="btn btn-success"  type="submit" th:value="#{addNewUser}" />
    </form>
</div>