<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en" >
<div th:replace="fragments/head :: head"></div>
<body>
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
        <p th:if="${param.error}" class="alert alert-info" role="alert" th:text="#{wrongUP}"></p>
        <h1 th:text="#{logIn}"></h1>
        <form class="form-group" action="#" th:action="@{/login}" method="post">

            <label for="userEmail" title="Name" th:text="#{userEmail}"></label>
            <input class="form-control" id="userEmail" type="email" name="username"/>

            <label for="password" title="Password" th:text="#{password}"></label>
            <input class="form-control" id="password" type="password" name="password" />

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
                <label class="form-check-label" for="remember-me" th:text="#{rememberMe}"></label>
            </div>

            <div class="button-container">
                <input class="btn btn-primary" type="submit" th:value="#{logIn}" />
                <a href="/register" class="btn btn-outline-success my-2 my-sm-0" role="button" aria-pressed="true" th:text="#{register}"></a>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>