<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en" >
<div th:replace="fragments/head :: head"></div>
<body>
<div class="d-flex justify-content-center register-container">
    <div class="d-flex flex-column">
        <h1 th:text="#{register}"></h1>
        <form class="form-group" action="#" th:action="@{/users}" th:object="${user}" method="post">

            <label for="userEmail" title="Email" th:text="#{userEmail}"></label>
            <input class="form-control" id="userEmail" type="text" th:field="*{userEmail}"/>
            <div th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}" class="alert alert-danger" role="alert"></div>

            <label for="userName" title="Name" th:text="#{userName}"></label>
            <input class="form-control" id="userName" type="text" th:field="*{userName}"/>
            <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="alert alert-danger" role="alert"></div>

            <label for="userSurname" title="Surname" th:text="#{userSurname}"></label>
            <input class="form-control" id="userSurname" type="text" th:field="*{userSurname}" />
            <div th:if="${#fields.hasErrors('userSurname')}" th:errors="*{userSurname}" class="alert alert-danger" role="alert"></div>

            <label for="password" title="Password" th:text="#{password}"></label>
            <input class="form-control" id="password" type="password" th:field="*{password}" />
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger" role="alert"></div>

            <div class="g-recaptcha" data-sitekey="6Lf7pMoUAAAAAIrDBgLVZS6SAnvTffmT9zr_PBiU"></div>

            <div class="button-container">
                <input class="btn btn-primary" type="submit" th:value="#{register}" />
                <a href="/login" class="btn btn-outline-success my-2 my-sm-0" role="button" aria-pressed="true" th:text="#{logIn}"></a>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>